* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0px !important;
}
.search-sec{
  width: 355px;
  height: 35px;
  border: 1px solid rgb(143, 142, 142);
  /* background: purple; */
  border-radius: 21px;
  padding: 0px 10px;
  margin-top:8px;
}

.design-link{
  padding: 5px 0px;
}
.design-link a{
  color: black;
  padding: 1px 0px 0px 0px;
}
.design-link :hover{
  color: rgb(230, 40, 173);
}
.fa-search:hover{
  color: rgb(235, 22, 153);
}
.design-sec{
  padding: 2px 0px 0px 0px;
}
.search-box{
  border: none;
  background: transparent;
  padding: 0px 0px 3px 20px;
}
.search-box:focus{
  outline: none;
  box-shadow: none;
  background: transparent;
}
.request-call ul li a{
  text-decoration: none;
  color: black;
}

.nav-sec {
  position: fixed;
  z-index: 200;
  width: 100%;
  margin-top: -10px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
}

.btn-join-now {
  border-radius: 22px !important;
  color: white !important;
  font-size: 13px;
}

.razor-logo {
  width: 200px;
}

.hero-image {
  background-image: url("images/smart.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 200px;
}

.hero-sec-head {
  text-align: center;
  margin: auto;
  font-size: 4rem;
  color: white;
  z-index: 4;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 3px;

}


.sec-icon {
  text-decoration: none !important;

}

.card {
  border: none;
}
.circle{
  background-color:#13F5B9;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
}
.circle-pink{
  background-color: #F62D71;
}
.square-blue{
  background-color:#13F5B9;
  height: 40px;
  width: 40px;

}
.square-pink{
  background: #F62D71;
  height: 40px;
  width: 40px;  
}
.icon-set{
  font-size: 22px;
  color: white;
  margin-top: 10px;
  padding: 0px 0px 0px 12px;
}
.fa-line-chart{
  font-weight: 800;
    color: white;
    padding: 0px 0px 0px 12px;
    margin-top: 14px;
    font-size: 20px;
}

.hero-btn {
  padding: 12px 20px;
  font-size: 18px;
}
.card-img{
  border-radius: 18px;
}
.card-text{
  font-size: 16px;
  line-height: 22px;
}
.phone-response {
  width: 100% !important;

}

.iti {
  width: 100% !important;
}

.small-char {
  font-size: 10px;
  margin-top: 5px;
}

.form-sec {
  background-color: #1a1e22;
}

.form-field {
  background: transparent !important;
  color: white !important;

}

.footer-cont {
  background: #f5f5f5;
}

.custom-icon {
  font-size: 42px;
  color: #626C78;
  margin: 10px;
  /* padding: 20px; */
}

.custom-icon:hover {
  color: rgba(243, 43, 186, 0.992);
}

.footer-links {
  list-style: none;
  text-decoration: none !important;
  font-size: 14px;
  line-height: 24px;
  padding: 0px;
}

.footer-lists {
  text-decoration: none;
  color: gray;
}

.footer-lists:hover {
  color: rgba(243, 43, 186, 0.992);
  text-decoration: none;
}

.text-current {
  text-decoration: none !important;
  color: gray;
}

.text-current:hover {
  color: rgba(243, 43, 186, 0.992);
}
.sec-plans{
  background-color:#f5f5f5;
}
.plan-card{
  border-radius: 20px;
}
.aford-color{
  color: rgb(50, 62, 238);
  word-spacing: 5px;
}

.budget{
font-size: 2rem;
font-weight: 700;
}
.budget-para{
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 1px;
}
.btn-large {
  font-size: 15px;
  color: white;
  padding: 4px 31px 9px 31px;
    border-radius: 21px;
}
.join-cont{
  /* font-size: 4rem;
  font-weight: bolder; */
  font-family: "playfair";
  font-weight: 900;
  font-size: 52px;
}
.join-cont span{
  color: rgb(50, 62, 238);
}


   /***************** About Page Start here  ************************/
.top-dark{
  height: 75vh;
  width: 100%;
  background-color:#1F2830;
  transform-origin: top left;
  transform: skewY(-5deg);

}
.top-sec-containt{
  z-index: 22;
  margin-top: -18rem;
}
.about-hero-img{
  border-radius: 30px;
  height: 75%;
  text-align: center;
}
.line-blue{
  height: 3px;
  width: 6rem;
  background-color: #00d4ff;
}
.image-border-radius{
  border-radius: 20px;
}
.background-gray{
  background-color: #3790e9;
  height: 330px;
}
.gap-content{
  margin-top: 150px !important;
}
.sec-gap{
  margin-top: 50px;
  margin-bottom: 50px !important;
}
.medium-content{
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.small-circle{
  /* height: 8rem;
  width: 8rem; */
  border-radius: 50%;
  outline: none;
  text-align: center;
  margin: auto;

}
.img-circle{
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
.gap-content-80{
  padding-top: 80px;
}
@media  (max-width:1050px){
  .search-sec{
      width: auto; 
  }
  .join-cont{
    font-size: 30px;
  }
}
@media(max-width:576px){
  .search-box{
      max-width: 200px;
  }

}

@media (max-width:768px) {
  .custom-icon {
    font-size: 28px;
  }

  .hero-sec-head {
    font-size: 2rem;
    font-weight: 500;
  }
  .join-cont{
    font-size: 30px;
  }
  .top-sec-containt{
z-index: 22;
    margin-top: -22rem;
  }
  .img-circle{
    height: 15rem;
  width: 15rem;
  }
  .gap-content{
    margin-top: 0px !important;
  }
  .gap-content-mob{
    margin-top: 150px;
  }
  .gap-content-80{
    padding-top: 0px;
  }

}